.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.error {
  color: #cc0000;
  text-decoration: solid;
}

.App-header {
  height: 10vh;
  display: flex;
  width: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textInput {
  width: 85%;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
  height: 30vh;
}

.maxTextSize {
  width: 85%;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
  height: 3vh;
}

.formSumary {
  font-style:normal;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  width: 85%;
  text-align: left;
}

.formTitle {
  font-style:normal;
  font-size: large;
  font-weight:bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  width: 85%;
  text-align: left;
}

.charCount {
  font-style:normal;
  font-size:small;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  width: 85%;
  text-align: left;
}

.submit {
  font-style:normal;
  font-size: large;
  font-weight:bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  background-color: #282c34;
}

.submit:hover {
  background-color:aquamarine;
  color: white;
}

.mastHead {
  margin-top: 10px;
  margin-bottom: 10px;
  color: wheat;
}

.mastHead > a {
  color:aquamarine;
  text-decoration: none; /* no underline */
}


